# Data Wrangling

In [3]:
library(readxl)
library(openxlsx)
library(dplyr)
library(chron)
options(warn = -1)

### Load data + Overview of data

In [3]:
mudd <- read_excel('Mudd_Creek.xlsx')
wise <- read_excel('Wise_River.xlsx')

In [4]:
str(mudd)

Classes 'tbl_df', 'tbl' and 'data.frame':	392916 obs. of  4 variables:
 $ site6024540: num  6024540 6024540 6024540 6024540 6024540 ...
 $ Date       : POSIXct, format: "1997-10-01" "1997-10-01" ...
 $ Time       : chr  "00:00" "00:15" "00:30" "00:45" ...
 $ DischargeM : num  188 188 188 188 188 188 188 188 188 188 ...

In [5]:
str(wise)

Classes 'tbl_df', 'tbl' and 'data.frame':	135980 obs. of  4 variables:
 $ site6024580: num  6024580 6024580 6024580 6024580 6024580 ...
 $ Date       : POSIXct, format: "2009-08-07" "2009-08-07" ...
 $ Time       : chr  "00:15" "00:30" "00:45" "01:00" ...
 $ DischargeW : num  365 365 371 371 378 384 384 384 390 390 ...

### Convert Time to h:m:s format

In [6]:
wise$Time <- paste(wise$Time, ':00', sep = '')
mudd$Time <- paste(mudd$Time, ':00', sep = '')

### Use inner_join from dplyr to merge datasets by Date and Time

In [8]:
merged_data <- inner_join(mudd, wise, by = c("Date", "Time"))

### Summary of data shows numerous NA values

In [9]:
summary(merged_data)

  site6024540           Date                 Time            DischargeM
 Min.   :6024540   Min.   :2009-08-07   Min.   :00:00:00   Min.   :  36.0
 1st Qu.:6024540   1st Qu.:2011-06-07   1st Qu.:05:45:00   1st Qu.: 160.0
 Median :6024540   Median :2012-10-10   Median :11:52:30   Median : 265.0
 Mean   :6024540   Mean   :2013-09-20   Mean   :11:52:28   Mean   : 874.3
 3rd Qu.:6024540   3rd Qu.:2016-07-07   3rd Qu.:17:45:00   3rd Qu.:1290.0
 Max.   :6024540   Max.   :2017-10-31   Max.   :23:45:00   Max.   :7000.0

  site6024580        DischargeW
 Min.   :6024580   Min.   : 106
 1st Qu.:6024580   1st Qu.: 259
 Median :6024580   Median : 443
 Mean   :6024580   Mean   :1247
 3rd Qu.:6024580   3rd Qu.:1810
 Max.   :6024580   Max.   :9210
                   NA's   :3361

### Remove rows with NA values

In [10]:
complete_data <- na.omit(merged_data)

### Subset 4 columns Data, Time, DischargeM and DischargeW

In [11]:
data = complete_data[, c('Date', 'Time', 'DischargeM', 'DischargeW')]

### Overview of Clean data

In [12]:
str(data)

Classes 'tbl_df', 'tbl' and 'data.frame':	124741 obs. of  4 variables:
 $ Date      : Date, format: "2009-08-07" "2009-08-07" ...
 $ Time      : 'times' num  00:15:00 00:30:00 00:45:00 01:00:00 01:15:00 ...
  ..- attr(*, "format")= chr "h:m:s"
 $ DischargeM: num  210 210 215 215 219 219 224 224 224 229 ...
 $ DischargeW: num  365 365 371 371 378 384 384 384 390 390 ...

In [13]:
head(data)
tail(data)

  Date       Time     DischargeM DischargeW
1 2009-08-07 00:15:00 210        365
2 2009-08-07 00:30:00 210        365
3 2009-08-07 00:45:00 215        371
4 2009-08-07 01:00:00 215        371
5 2009-08-07 01:15:00 219        378
6 2009-08-07 01:30:00 219        384

  Date       Time     DischargeM DischargeW
1 2017-10-31 22:30:00 215        359
2 2017-10-31 22:45:00 215        365
3 2017-10-31 23:00:00 215        359
4 2017-10-31 23:15:00 215        353
5 2017-10-31 23:30:00 215        359
6 2017-10-31 23:45:00 215        353

## Wrangling for Problem 5

In [29]:
data_p5 <- read_excel('Wise_041018.xlsx')

In [30]:
str(data_p5)

Classes 'tbl_df', 'tbl' and 'data.frame':	96 obs. of  3 variables:
 $ Date      : chr  "4/10/2018" "4/10/2018" "4/10/2018" "4/10/2018" ...
 $ Time      : chr  "0:00" "0:15" "0:30" "0:45" ...
 $ DischargeW: num  1480 1450 1430 1410 1390 1370 1360 1350 1350 1350 ...

In [31]:
data_p5$Time <- paste(data_p5$Time, ':00', sep = '')

In [32]:
data_p5$Time <- chron(times = data_p5$Time)
data_p5$Date <- as.Date(data_p5$Date, "%m/%d/%Y")

In [33]:
str(data_p5)

Classes 'tbl_df', 'tbl' and 'data.frame':	96 obs. of  3 variables:
 $ Date      : Date, format: "2018-04-10" "2018-04-10" ...
 $ Time      : 'times' num  00:00:00 00:15:00 00:30:00 00:45:00 01:00:00 ...
  ..- attr(*, "format")= chr "h:m:s"
 $ DischargeW: num  1480 1450 1430 1410 1390 1370 1360 1350 1350 1350 ...

In [36]:
write.xlsx(data_p5, "Wise_041018.xlsx")