In [1]:
attach(mtcars)

In [4]:
mtcars[-seq(1,32,2), ]

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [2]:
length(mpg)

[1] 32

In [3]:
out = sample(mpg, 32, replace = T)

In [4]:
cbind(mpg, out)

      mpg  out
 [1,] 21.0 21.0
 [2,] 21.0 16.4
 [3,] 22.8 21.0
 [4,] 21.4 14.7
 [5,] 18.7 27.3
 [6,] 18.1 14.7
 [7,] 14.3 17.3
 [8,] 24.4 32.4
 [9,] 22.8 10.4
[10,] 19.2 13.3
[11,] 17.8 22.8
[12,] 16.4 30.4
[13,] 17.3 21.0
[14,] 15.2 13.3
[15,] 10.4 27.3
[16,] 10.4 19.2
[17,] 14.7 21.0
[18,] 32.4 26.0
[19,] 30.4 15.2
[20,] 33.9 15.2
[21,] 21.5 26.0
[22,] 15.5 27.3
[23,] 15.2 18.1
[24,] 13.3 27.3
[25,] 19.2 19.7
[26,] 27.3 19.7
[27,] 26.0 21.0
[28,] 30.4 21.5
[29,] 15.8 19.2
[30,] 19.7 24.4
[31,] 15.0 15.8
[32,] 21.4 33.9

In [8]:
library(boot)

In [18]:
sampleMean = function(x,d) {
    median(x[d])
}
boot(mpg, sampleMean, 500)

ORDINARY NONPARAMETRIC BOOTSTRAP


Call:
boot(data = mpg, statistic = sampleMean, R = 500)


Bootstrap Statistics :
    original  bias    std. error
t1*     19.2  -0.035    1.265507

In [21]:
my.r = function(d, i) {
    d2 = d[i,]
    return(cor(d2[,1], d2[,2]))
}
boot(data = cbind(mpg, wt), my.r, 500)

ORDINARY NONPARAMETRIC BOOTSTRAP


Call:
boot(data = cbind(mpg, wt), statistic = my.r, R = 500)


Bootstrap Statistics :
      original       bias    std. error
t1* -0.8676594 -0.002840015  0.03376434