In [1]:
library(readxl)
library(boot)

## Females that survived

In [2]:
titanic <- read_excel('Titanic-Survival-Data.xlsx')

In [3]:
femaleSurvivors <- subset(titanic, Gender == "Female")

In [4]:
summary(femaleSurvivors$Age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   2.00   29.00   47.00   45.78   62.00   80.00

In [6]:
maleSurvivors <- subset(titanic, Gender == "Male")

In [11]:
table(titanic$Status, titanic$Gender)

           Female Male
  Died        126 1364
  Survived    344  367

In [12]:
prop.test(c(126, 1364), c(470, 1731))

	2-sample test for equality of proportions with continuity correction

data:  c(126, 1364) out of c(470, 1731)
X-squared = 454.5, df = 1, p-value < 2.2e-16
alternative hypothesis: two.sided
95 percent confidence interval:
 -0.5656866 -0.4741109
sample estimates:
   prop 1    prop 2
0.2680851 0.7879838